workspace.xml
TakeOutTogetherWeb/.idea/workspace.xml
/TakeOutTogetherWeb/.idea/workspace.xml
/workspace.xml
/*.pyc
*.pyc
TakeOutTogetherWeb/web/__pycache__/*.pyc
/TakeOutTogetherWeb/web/__pycache__/*.pyc

app/platforms
app/.idea
.idea
.idea/workspace.xml
