/* Empty. Add your own CSS if you like */
/*.item.active,*/
/*.item.activated,*/
/*.item-complex.active .item-content,*/
/*.item-complex.activated .item-content,*/
/*.item .item-content.active,*/
/*.item .item-content.activated {*/
	/*border-color: #fff;*/
	/*background-color: #fff;*/
/*}*/
ion-nav-view{
	background: #ffffff;
}

.discount{
	font-size: 14px;
	color: #ffffff;
	background: #ff3b30;
	border-radius: 5px;
	padding: 0 5px 0 5px;
}

