<ion-view hide-nav-bar="true">
	<ion-header-bar class="row bar bar-header bar-stable">
		<button class="button button-small button-outline button-stable col col-100"
				style="border-radius: 15px; line-height: 20px; overflow: hidden"
				ng-click="getLocation()">
			<p style="line-height: 34px; overflow: hidden">送至：{{$root.location.name||'未选定'}}</p>
		</button>
	</ion-header-bar>

	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." refreshing-text="Refreshing!"  on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="takeOut in takeOuts" type="item-text-wrap" href="#/tab/takeOuts/{{takeOut.shop_id}}">
				<img ng-src="{{takeOut.logo_url}}">
				<h2>{{takeOut.shop_name}}</h2>
				<p>{{takeOut.native_url}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="remove(takeOut)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
