<ion-view view-title="关于我们">
	<ion-content overflow-scroll="false" has-bouncing="true">
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/Archie-Shi_sm.png">
				<h2>史安琪</h2>
				<p>Front-end development</p>
			</div>

			<div class="item item-body">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内蒙古大学精英学生开发者联盟(IMUDGES) 2014级正式成员。全栈工程师，白帽子黑客。我在这个项目中负责前端开发。<br>
					邮箱：<a href="mailto://shianqi@imudges.com">shianqi@imudges.com</a><br>
					网站：<a href="http://www.shianqi.com" target="_blank">www.shianqi.com</a>
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-avatar">
				<img src="img/Hupeng.png">
				<h2>胡鹏</h2>
				<p>Back-end development</p>
			</div>

			<div class="item item-body">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内蒙古大学精英学生开发者联盟(IMUDGES) 2014级正式成员。极限编程工程师。我在这个项目中负责后端服务器搭建以及卖萌。<br>
					邮箱：<a href="mailto://hupeng@imudges.com">hupeng@imudges.com</a> <br>
					网站：<a href="http://www.hupeng.me" target="_blank">www.hupeng.me</a>
				</p>
			</div>
		</div>

		<div class="list card">
			<div class="item item-avatar">
				<img src="img/Guyu.png">
				<h2>古雨</h2>
				<p>Back-end development</p>
			</div>

			<div class="item item-body">
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内蒙古大学精英学生开发者联盟(IMUDGES) 2014级正式成员。极限编程工程师。我在这个项目中负责后端爬虫开发，
					这是我的邮箱：<a href="mailto://guyu@imudges.com">guyu@imudges.com</a>，
					有事也不要联系我。
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
