<ion-view hide-nav-bar="true">
	<ion-header-bar class="row bar bar-header bar-stable">
		<button class="button button-small button-outline button-stable col col-100" style="border-radius: 15px; line-height: 20px; overflow: hidden">
			<p style="line-height: 34px; overflow: hidden">送至：{{$root.location.name||'定位中...'}}</p>
		</button>
	</ion-header-bar>

	<ion-content>

		<div class="item item-divider">
			定位地点
		</div>
		<ion-list>
			<a class="item item-icon-right" href="#">
				{{$root.gaoDeLocation.name}}
				<ion-spinner class="icon" icon="dots" ng-click="refurbish()" style="display:{{isLoading(1)||'none'}};"></ion-spinner>
				<span class="icon ion-ios-refresh-empty" ng-click="refurbish()" style="display:{{isLoading(2)||'auto'}};"></span>
			</a>
		</ion-list>
		<div class="item item-divider">
			附近地点
			<span class="item-note">
			  	更多 >
			</span>
		</div>
		<ion-list>
			<ion-item class="item item-icon-right" ng-repeat="nearByLocation in $root.nearByLocations" type="item-text-wrap"">
				<h2>{{nearByLocation.name}}</h2>
				<p>{{nearByLocation.address}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
