<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- TakeOuts Tab -->
	<ion-tab title="外卖" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/takeOuts">
		<ion-nav-view name="tab-takeOuts"></ion-nav-view>
	</ion-tab>

	<!-- Locationboard Tab -->
	<ion-tab title="位置" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/location">
		<ion-nav-view name="tab-location"></ion-nav-view>
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>


</ion-tabs>
