<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{takeOut.shop_name}}">
	<ion-content>
		<div class="list card">

			<div class="item item-thumbnail-left">
				<img ng-src="{{takeOut.logo_url}}">
				<h2>{{takeOut.shop_name}}</h2>
				<p>
					<a class="subdued">月售：{{takeOut.month_sale_num+""||'unknow'}}  </a>
					<a class="subdued">评分：{{takeOut.score+""||'unknow'}}</a>
				</p>
			</div>

			<a class="item" style="padding-top: 10px; padding-bottom: 10px;" ng-repeat="welfare in takeOut.welfare">
				满：{{welfare[0]||'unknow'}}减：{{welfare[1]||'unknow'}}
			</a>

			<a class="item item-icon-left positive">
				<i class="icon ion-ios-pricetags"></i>
				起送价：{{takeOut.take_out_price}} 元
			</a>

			<a class="item item-icon-left positive">
				<i class="icon ion-ios-cart"></i>
				配送费：{{takeOut.take_out_cost}} 元
			</a>

			<a class="item item-icon-left positive">
				<i class="icon ion-ios-timer"></i>
				送达时长：{{takeOut.deliver_time}} 分钟
			</a>

		</div>

		<button class="button button-block button-positive" ng-click="transmit(takeOut.native_url)">
			>> 传送门 <<
		</button>
	</ion-content>
</ion-view>
