<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{takeOut.shop_name}}">
	<ion-content>
		<div class="list card">

			<div class="item item-thumbnail-left">
				<img ng-src="{{takeOut.logo_url}}">
				<h2>{{takeOut.shop_name}}</h2>
				<p>预计送达所需时间：{{takeOut.take_out_cost}}分钟</p>
				<p>预计送达所需时间：{{takeOut.take_out_cost}}分钟</p>
			</div>

			<a class="item">
				Enter phone number
			</a>

			<a class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>
				Enter phone number
			</a>

			<a class="item item-icon-left positive">
				<i class="icon ion-ios-pricetags"></i>
				起送价：{{takeOut.take_out_price}} 元
			</a>

			<a class="item item-icon-left positive">
				<i class="icon ion-ios-cart"></i>
				配送费：{{takeOut.take_out_cost}} 元
			</a>

			<a class="item item-icon-left positive">
				<i class="icon ion-ios-timer"></i>
				送达时长：{{takeOut.deliver_time}} 分钟
			</a>

		</div>
		<button class="button button-block button-positive" ng-click="transmit(takeOut.native_url)">
			传送门
		</button>
	</ion-content>
</ion-view>
